{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header class="wrapper">
    <h2>{{ .Title }}</h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Monday Jan 2, 2006" }} by Alex H. Raber</time>
  </header>
  <section id="articlebody">
    <div class="wrapper">
      {{ .Content }}
    </div>
  </section>
  <nav class="wrapper">
    {{ if .Params.tags }}
      <h3>Tags</h3>
      <ul class="tags"> 
    {{ range .Params.tags }}<li><a class="button" href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}
      </ul>    
    {{ end }}       
  </nav>
</article>
{{ partial "footer.html" . }}
