{{ $.Scratch.Add "hasComments" 0 }}
{{ $comments := readDir "data/comments" }}
{{ $slug := .Slug }}
{{ range $comments }}
    {{ if eq .Name $slug }}
      {{ $.Scratch.Add "hasComments" 1 }}
      <h3>Comments</h3>
      <section class="comments">
      {{ range $index, $comments := (index $.Site.Data.comments $slug )}}
        <article id="{{ $index}}">
          <div class="avatar"><img src="https://www.gravatar.com/avatar/{{ .email }}?s=57" alt="avatar"></div>
          <div class="author">{{ .name }}</div>
          <div class="timestamp">
            <a href="#{{ $index}}">{{ dateFormat "01/02/2006" .date }}</a>  
          </div>
          <p>{{ .message | markdownify }}</p>
        </article>
      {{ end }}    
      </section>
    {{ end }}
{{ end }}
{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>No Comments? Post one!</p>
{{ end }}