{{ $baseurl := .Site.BaseURL }}
<h3>Leave a comment</h3>
<form class="contact-form" method="POST" action="{{ .Site.Params.StaticmanEndpoint }}/{{ .Site.Params.StaticmanUsername }}/{{ .Site.Params.StaticmanRepo }}/{{ .Site.Params.StaticmanBranch }}/comments">
    <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#comment-submitted">
    <input name="options[entryId]" type="hidden" value="{{ .UniqueID }}">          
    <input name="options[origin]" type="hidden" value="{{ $baseurl }}{{ .Slug }}">
    <input name="options[slug]" type="hidden" value="{{ .Slug }}">

    <label for="name">Name</label>
    <input name="fields[name]" type="text" id="name" required>

    <label for="email">E-mail <span>(used for <a href="http://gravatar.com">Gravatar</a>)</span></label>
    <input name="fields[email]" type="email" id="email" required>

    <label for="message">Message <span>(<a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> is allowed)</span></label>
    <textarea name="fields[message]" id="message" required></textarea>

    <button type="submit" class="button">Submit Comment</button>
</form>