{{ partial "header.html" . }}
  <div class="wrapper">
</div>
<div class="wrapper full divider">
    <hr />
</div>
<div class="wrapper">    
    <section id="Blog Entries" class="home">
      <h2>Journal</h2>
      <ul class="header-list">
        <li><a href="/posts/">Everything</a></li>
        <li><a href="/tags/software-development/">Software Dev</a></li>
      </ul>
      <div>
      <ul class="posts"> 
        {{ range first 5 (where .Data.Pages "Section" "posts") }}
            {{ .Render "li" }}
        {{ end }}
      </ul>
      </div>
    </section>

  </div>
{{ partial "footer.html" . }}
