{{ partial "header.html" . }}
  <div class="wrapper">
    <section class="home-about">
      <a href="/about/" alt="NeuralNuance" id="NeuralNuance-Logo"><span class="icon icon-NeuralNuance">NeuralNuance</span></a>
      <p>Hey, I'm <a href="/about/" alt="Alex H. Raber">Alex H. Raber</a>.</p>
      <p>I'm a cloud/devops engineer in Bend, Oregon.  This site is mostly for me to learn and test things out.</p> 
    </section>
</div>
<div class="wrapper full divider">
    <hr />
</div>
<div class="wrapper">    
    <section id="Journal" class="home">
      <h2>Journal</h2>
      <ul class="header-list">
        <li><a href="/posts/">Everything</a></li>
        <li><a href="/tags/software-development/">Software Dev</a></li>
      </ul>
      <div>
      <ul class="posts"> 
        {{ range first 5 (where .Data.Pages "Section" "posts") }}
            {{ .Render "li" }}
        {{ end }}
      </ul>
      </div>
    </section>

  </div>
{{ partial "footer.html" . }}
